@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cormorant+Garamond&family=Karla:wght@600&family=Lilita+One&family=M+PLUS+Rounded+1c&family=Nanum+Gothic&family=Press+Start+2P&family=Quicksand&family=Rubik+Mono+One&display=swap');




header {
    background-color: black;
    color: #B1B890;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem;
    padding: 10px;
    text-align: center;
}

main {

    background-color: black;

    #photosContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        width: 99vw;
    }

    .photoItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        
        border: 1px solid white;
        width: 30%;

        margin: 10px 10px 10px 10px;
    }

    img {
        width: 500px;
    }

    p {
        color: white;
        font-family: 'Cormorant Garamond', serif;
    }

}


/* Responsive tablet */

@media (min-width:801px) {

    main {

        #photosContainer {

            width: 100%;
        } 

        .photoItem {
            align-content: center;
        }

        img {
            width: 100%;
        }

        p {
            font-size: 15px;
            margin-top: 10px;
        }
    }
}


/* Responsive mobile */

@media only screen and (min-width : 320px) {
        
    #photosContainer {
        
        width: 100%;

        display: flex;
        flex-direction: column;

        img {
            width: 100%;
        }

        .photoItem {
            width: 100%;
        }
    }
}

